*{
    margin:0;
    padding:0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    padding:0 auto;
}
form{
    margin: 20px auto;
    display:flex;
    flex-flow: row wrap;
    align-items: center;
    gap:3px;
    max-width:300px;
}
form :first-child{
    width: 100%;
    align-self: center;
    text-align: center;
    margin-bottom:25px;
}
label{
    flex-basis: 30% ;
}
.submit{
    margin-top:15px;
    padding: 1px 10px;
}
#success{
    margin: 20px auto;
    display:flex;
    flex-direction: column;
    align-items: center;
}